.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.roboto-normal {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* Responsive for Small Mobile Device */
@media screen and (min-width: 320px)and(max-width:374px) {
    * {
        justify-content: center;
        align-items: center;
    }
}

/* Responsive for Medium Mobile Device */
@media screen and (max-width: 320px) {
    * {
        justify-content: center;
        align-items: center;
    }

}

/* Responsive for Large Mobile Device */
@media screen and (min-width:376px) and (max-width: 425px) {
    /* navbar styles */

    .nav-bar {
        padding: 0;
        flex-direction: column;
        margin: 1.25rem 1.25rem 0rem 1.25rem;
    }

    .badge-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
    }

    .nav-badge {
        margin: 0 auto;
        margin-top: 1.25rem;
    }

    /* frame styles */

    .frame-container {
        margin-top: 1.25rem;
        height: 70%;
    }

    .frame-logo {
        width: 3.13rem;
        height: 3.13rem;
        margin: 0 auto;
        margin-top: 1rem;
    }

    .tframe-h {
        font-size: medium;
        margin: 0 auto;
        margin-top: 1rem;

    }

    .dframe-h {
        font-size: small;
        text-align: center;
        margin: 0 auto;
        margin-top: 1rem;
    }

}