.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Responsive for iPhone 14 Pro Max(Large Mobile Device) */
@media screen and (max-width: 430px) {
    /* navbar styles */

    .nav-bar {
        padding: 0;
        flex-direction: column;
        margin: 1.25rem 1.25rem 0rem 1.25rem;
    }

    .nav-badge {
        margin: 0 auto;
        margin-top: 1.25rem;
    }

}